$sectionTitleSize: 18px;

.pipeline-editor {
  height: 100%;
  padding: 20px 30px;

  .config-block {
    border: 1px solid #000;
    padding: 10px;
    position: relative;
    .title {
      cursor: pointer;
      position: absolute;
      background: #fff;
      left: 15px;
      top: -15px;
      height: $sectionTitleSize;

      h6 {
        display: inline-block;
        font-weight: bold;
        font-size: $sectionTitleSize;
      }
    }

    margin-bottom: 20px;
  }

  .provision-group {
    margin-left: 22px;

    span {
      min-width: 110px;
      display: inline-block;
    }
  }

  input[type='checkbox'] {
    margin-right: 8px;
  }

  input[type='text'] {
    height: 2rem;
  }

  select {
    width: 300px;
  }
}
